*, *:before, *:after {
    box-sizing: border-box;
}

body{
    background-image: url("/public/images/homebg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home{
    float: right;
}

.title-container{
    width: max-content;
    margin: auto;
    background-color: rgba(226,83,69,0.8);
    border-radius: 10px;
}

.top-row{
    font-size: 20px;
    width: 80%;
    margin: auto;
    padding: 10px;
    color : white;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
}

.top-row .card-view{
    float: right;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px auto 5rem auto;
    background-color: rgba(0,0,0,0.6);
    padding: 5%;
    border-radius: 60px;

}

.card-container .card{
    box-shadow: 10px 10px 5px lightblue;
    padding: 10px;
    border-radius: 15px;
    flex-wrap: wrap;
    margin: 10px auto 10px auto;
    background-color: white;
}
ul{
    padding: 0;
    list-style: none;
}

.footerBar{
    background-color: #A4152D;
    height: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
h1{
    padding:20px;
}