*, *:before, *:after{
    box-sizing: border-box;
}
.profileBanner{
    display: flex;
    align-items: center;
    margin: 5px;
    border-radius: 15px;
    padding: 5px 20px;
    background-color: rgba(226,83,69,0.6)
}

body{
    font-size:x-large;
    background-image: url("/public/images/homebg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color : white;
}

.superContainer{
    margin-bottom: 10rem;
    background: rgba(0,0,0,0.6);
    padding: 5%;
    border-radius: 66px;
    margin-left: 5%;
    margin-right: 5%;
}
.profilePicture {
    border-radius:100%;
    height: 200px;
    width: 200px;
}

.profilePicture {
    margin: fill;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.container .left{
    display: flex;
    justify-content: center;
    align-items: center;


    flex-grow: 1;
    flex-basis: 40%;
}
.container .right{
    flex-basis: 60%;
}

.profileDetails{
    text-align:justify;
}

.changePassword{
    margin: auto;
    width: max-content;
}
.changePassword button{
    margin-bottom: 20px;
    background-color: #E25345;
    padding: 5px;
    border: none;
    border-radius: 20px;
    width : 200px;
    height : 50px;

}

.homeIcon{
    flex-grow: 1;
    margin: auto;
}

.homeIcon a{
    float: right;
}

tr{
    height: 3rem;
}

td:nth-child(3){
    padding-left: 2rem;
}
.medicalDetails{
    border-radius: 30px;
    background-color: rgba(255,255,255,0.2);
    padding:2rem;
}

.footerBar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    height: 5rem;
    background: #A4152D;
}

table{
    font-size:large;
}


@media screen and (max-width: 768px){

    .superContainer{
        margin-left:0;
        width: 100%;
    }
    .profilePicture {
    }
    table {
        padding-left: 5%;
    }

}
/*.changePassword{*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*}*/
