*, *:before, *:after {
    box-sizing: border-box;
    font-family: Inter, serif;
}

body{
    background-image: url("/public/images/homebg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color : white;
}

.container{
    border-radius:60px;
    margin: auto;
    width:60%;
    background-color: rgba(0,0,0,0.61);
    padding: 5% 0 5% 0;
}
a{
    color: #6B8DD6;
}

h1, a , p{
    text-align: center;
}
nav{
    float: right;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul > *{
    margin: 5px;
}

input[type=button]:hover,input[type = submit]:hover{
    transform: scale(1.01);
}
.box{
    background-color: #E25345;
    Width : 100%;
    height : 10%;
}

.top{
    display:flex
}

.center{
    width: 60%;
    margin: auto;
}
.center form{
    display: flex;
    flex-direction: column;
}
.center input{
    /* Rectangle 29 */
    box-sizing: border-box;
    border: none;
    font-size: x-large;
    margin-top: 2%;

    height: 60px;
    width: 100%;

    /*background: rgba(255, 255, 255, 0.4);*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

}


.center input.login
{
    color: white;
    background-color: #E25345;
}

.center label{
}

@media screen and (max-width:800px) {
    .container{
        width: 100%;
    }
    .center{
        width: 65%;
        margin: auto;
    }
    .box{
        width: 100%;
        margin: 30px auto auto auto;
    }
}